body {
  font-family: sans-serif;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.buttons {
  padding: 20px;
}

.button {
  padding: 16px;
  margin: 4px;
  border-radius: 4px;
  border-style: none;
  /* Chocoi hommii! */
  background-color: chocolate;
  color: white;
}

.input {
  padding: 8px;
  margin: 4px;
}